h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #222;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
  }